WCFWebServiceDemo/WCFServiceClientDemo/WCFServiceClientDemo/Service References/QwaeviszDemoServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceLibraryDemo.Error" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceLibraryDemo.Error" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/WCFServiceLibraryDemo/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceLibraryDemo.Model" />
  <xs:complexType name="CarNotFoundError">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceLibraryDemo.Model" minOccurs="0" name="Manufacturer" type="q1:Manufacturer" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarNotFoundError" nillable="true" type="tns:CarNotFoundError" />
</xs:schema>